body { 
    background: #383838;
    display: block; 
}

#container {
    margin: 0px auto;
    width: 125px; }

.button1 {
    border-radius: 15px;
	width: 145px;
	height: 60px;
	margin: 0 auto;
    margin-top: 10px;
}

/*-------------------------------------------------------------------------------BUTTON AS A HREF---------------------------------------------------------------------*/
    
@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(3px);
	}

	80% {
		transform: translateY(7px);
	}
}

@keyframes bounce_up {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-3px);
	}

	80% {
		transform: translateY(-7px);
	}
}

a.button  {
    clear: both;
    display: block
    border-radius:3px;
    box-shadow:0 4px 5px rgba(0,0,0,.3);
    display: inline-block !important;
    font: 700 20px/36px 'Arial', Helvetica, Clean, sans-serif;
    height: 26px;
    margin: 0 0 10px;
    padding: 0 10px 11px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255,255,255,.35);
    width: 125px; }

/** BLUE  */

a.blue {
    background: #4669ab;
    background: -webkit-gradient(linear, 0 0, 0 0, from(#4669ab), to(#304886));
    background: -moz-linear-gradient(#4669ab, #304886);
    background: linear-gradient(#4669ab, #304886);
    border-top: 1px solid #8ea4cd;
    color: rgba(21,31,53,1);
    text-shadow: 0 1px 1px rgba(255,255,255,.35);
}
a.blue:hover {
    background: #304886;
    background: -webkit-gradient(linear, 0 0, 0 0, from(#2D549C), to(#99B2DF));
    background: -moz-linear-gradient(#2D549C, #99B2DF);
    background: linear-gradient(#2D549C, #99B2DF); }


/*GREEN*/

a.green {
    background: #58853e;
    background: -webkit-gradient(linear, 0 0, 0 0, from(#58853e), to(#3c592a));
    background: -moz-linear-gradient(#58853e, #3c592a);
    background: linear-gradient(#58853e, #3c592a);
    border-top: 1px solid #99b489;
    color: rgba(22,33,16,1); 
}
    
a.green:hover {
    background: #3c592a;
    background: -webkit-gradient(linear, 0 0, 0 0, from(#3c592a), to(#58853e));
    background: -moz-linear-gradient(#3c592a, #58853e);
    background: linear-gradient(#3c592a, #58853e); 
	}

a.green:hover .fa-download {
	animation: bounce 1s;

}

/*YELLOW*/

a.yellow {
    background: #BF5700;
    background: -webkit-gradient(linear, 0 0, 0 0, from(#BF5700), to(#FF8F33));
    background: -moz-linear-gradient(#BF5700, #FF8F33);
    background: linear-gradient(#BF5700, #FF8F33);
    border-top: 1px solid #FFB87D;
    color: rgba(22,33,16,1); 
}
    
a.yellow:hover {
    background: #BF5700;
    background: -webkit-gradient(linear, 0 0, 0 0, from(#FFB87D), to(#BF5700));
    background: -moz-linear-gradient(#FFB87D, #BF5700);
    background: linear-gradient(#FFB87D, #BF5700); }

a.yellow:hover .fa-upload {
	animation: bounce_up 1s;}

/*-----------------------------------------------------------------BUTTON AS BUTTON CLASS------------------------------------------------------------------*/

.btn {
    background-color: #a9e34b;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 20px;
    cursor: pointer;
    width: 145px;
    border-radius: 3px;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: #66a80f;
}



 /*--------------------------------------------------------------------FANCY BUTTON-----------------------------------------------------------------------------*/

.button_wrap {
	border-radius: 15px;
	width: 145px;
	height: 60px;
	background-color: #f4511e;
    box-shadow:0 9px #999;
    margin: 0 auto;
    margin-top: 10px;
}

.button_text {
	font-size:30px;
	color:white;
	width: 70%;
	font-family: 'Roboto', sans-serif;
	padding-right: 10px;
}

.button_icon {
	width: 30%;
	color: white;
	font-size: 30px;
	padding-left: 10px;
}

.button_icon, .button_text {
	padding-top: 15px;
	text-align: center;
}

div a {
	width: 100%;
	display: inline-flex;
	text-decoration: none;
}
.button_wrap:hover {
	 background-color: #AD310B;
}


.button_wrap:active {
	box-shadow: 0 5px #666;
    transform: translateY(4px);
}



