body {
	
	margin:0;
}


/* Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff; /* change if the mask should have another color then white */
	z-index:99; /* makes sure it stays on top */
}

#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(status.gif); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}

.wrapper {
	margin:0;
	/*height: 100vh; */
	background: url("back.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}

.grid {
	display: grid;
 	grid-template-columns: repeat(5, 20%);
	grid-template-rows: repeat(5, 20vmin);
}

.grid__nemunas {
 	grid-column: 4;
	grid-row: 5;
}

.fas, .fa-info-circle {
	color: white;
	font-size: 20px;
}

.tipso {
	
}

.tipso-style {
	font-family: tahoma;
}

