h2  {
  font-family: tahoma;
}

th,tr {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  text-align: center;
}

th {
  background-color: #6c7ae0;
  color: white;
}

tr {
  border-bottom: 1px solid #ccc; 
}

table {
  border-radius: 10px;
}

tr th {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    text-align: center;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 360px) and (max-device-width: 1024px)  {

  /* Converto to block */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide thead */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  tr { border: 1px solid #ccc; }
  
  td { 
    /* Convert to "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  td:before { 
    /* Thead */
    position: absolute;
    /* Padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  
  /*  Name label  */
  td:nth-of-type(1):before { content: "Vardas"; }
  td:nth-of-type(2):before { content: "Lytis"; }
  td:nth-of-type(3):before { content: "Metai"; }
  td:nth-of-type(4):before { content: "Vieta"; }
  td:nth-of-type(5):before { content: "Stat"; }
  td:nth-of-type(6):before { content: "Stat2"; }
  td:nth-of-type(7):before { content: "Stat3"; }
  td:nth-of-type(8):before { content: "What"; }
  td:nth-of-type(9):before { content: "Num"; }
}