
.wrapper {
	margin:0;
	height: 100vh; 
}

.icons_wrapper {
	grid-column: 2/7;
	grid-row: 3/7;
}

body {
	margin: 0;

}

.container > * {
	display: flex;
	justify-content: center;
	align-items: center;

}

.container:hover > *{
	border: 1px white;
	border-style: dotted;
}

.container i {
	font-size: 50px;
}

img	{
	left: 0;
}

.container {
	display: grid;
	grid-template-columns: auto 250px 250px 250px 125px 125px auto;
	grid-template-rows: 50px auto 125px 125px 125px 125px;
	background-color: rgb(19,20,38);
}

header {
	grid-column: 1/8;
	grid-row: 1/1;
	border-bottom: 1px solid #333;
}

.main_text {
	grid-column-start: 3;
	grid-column-end: 7;
	grid-row-start: 2;
	grid-row-end: 3;
	
}

.main_text--text {
	color: white;
	font-family: tahoma;
	text-align: justify;
	font-size: 20px;
	padding-right: 100px;
}

.upperb {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.upperb--text {
	font-size: 200px;
	color: white;
	font-family: tahoma;
	padding-right: 160px;
	margin: 0;
}

.sidel {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 2;
	grid-row-end: 7;
}

.logo {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 1;
}

.logo--text {
	text-align: right;
	color: white;
	font-family: tahoma;
	letter-spacing: 10px;
	text-transform: uppercase;
	float: right;
	padding-right: 60px;
}

.nav {
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 1;
}	

.social {
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 1;
}	

.sider {
	grid-column-start: 7;
	grid-column-end: 8;
	grid-row-start: 2;
	grid-row-end: 7;
}
	
.date {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 5;
	background-color: rgb(47,191,191);
}

.chrono {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 5;
	background-color: rgb(24,32,69);
}

.code {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 5;
	background-color: rgb(47,119,191);	
}

.icon--font {
	font-size: 50px;
	color: white;
}
.eye {
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 3;
	grid-row-end: 4;
	background-color: rgb(179,27,40);	
}

.biga {
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row-start: 4;
	grid-row-end: 5;
	background-color: white;	
}

.biga--font {
	color: rgb(30,56,131);
	font-weight: bold;
	font-family: tahoma;
}

.cup {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 7;
	background-color: rgb(231,76,46);
}

.bookh {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 5;
	grid-row-end: 7;
	background-color: rgb(242,194,48);
}

.empty {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 5;
	grid-row-end: 7;
	background-color: rgb(47,191,191);
}

.search {
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 5;
	grid-row-end: 7;
	background-color: rgb(30,56,131);
}

.icon--fnt_clr {
	color: white;
}

